---
layout: default
---

<div class='flex'>
  <!-- Sort the events by date -->
  {% assign events = site.events | sort: 'date' %}
  <!-- Loop through events -->
  {% for event in events %}
    <!-- Compare both dates by ISO 8601 format -->
    {% capture currentDate %}{{ site.time | date: '%F' }}{% endcapture %}
    {% capture eventDate %}{{ event.date | date: '%F' }}{% endcapture %}
    {% if eventDate >=  currentDate %}
      <div class="card-box" itemscope itemtype="http://schema.org/Event">
        <div class="card-header">
          <div class="card-date">
            <div>{{ event.date | date: '%A' }}</div>
            <div>{{ event.date | date: '%d' }}</div>
            <div>{{ event.date | date: '%b, %Y' }}</div>
          </div>
          <div class="card-title">
            <h3>{{ event.name }}</h3>
          </div>
        </div>
        <div class="card-content">
          <p>{{ event.description }}</p>
          <span class="meta-info"></span>
        </div>
        <div class="meta-info">
          <small>Starts at: {{ event.date | date: '%l:%M%P' }}</small>
        </div>
        <div class="meta-info">
          {% if event.ticket_price %}
            <small>Price: {{event.ticket_price}}</small>
          {% endif %}
          {% if event.food or event.beer or event.cake or event.coffee or event.on_site_parking %}
            <small>Includes: </small>
          {% endif %}
          {% if event.food %}
            <span>🍕</span>
          {% endif %}
          {% if event.beer %}
            <span>🍺</span>
          {% endif %}
          {% if event.cake %}
            <span>🍰</span>
          {% endif %}
          {% if event.coffee %}
            <span>☕️</span>
          {% endif %}
          {% if event.on_site_parking %}
            <span>🚙</span>
          {% endif %}
        </div>
        <div class="card-footer">
            <ul class="button-group">
              <li><a class="item" target="_blank" href="{{ event.href }}">Website</a></li>
              <li><a class="item" target="_blank" href='http://maps.google.co.in/maps?q="{{ event.location }}"'>Map</a></li>
              {% if event.tickets_href %}
              <li><a class="item" href='{{ event.tickets_href }}'>Tickets</a></li>
              {% else %}
                {% if event.group_contact_href %}
                <li><a class="item" href='{{ event.group_contact_href }}'>Contact</a></li>
                {% else %}
                <li><a class="item" href='mailto:"{{ event.group_mailto }}"'>Contact</a></li>
                {% endif %}
              {% endif %}
            </ul>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
