<!DOCTYPE html>
<html>

<head>
  <title>Southampton.Digital</title>
  <link rel='stylesheet' href='https://cdn.concisecss.com/concise.min.css'>
  <link rel="stylesheet" href="https://cdn.concisecss.com/concise-ui/concise-ui.min.css">
  <!-- <link rel='stylesheet' href='/css/main.css'> -->
  <meta http-equiv="refresh" content="0; URL=http://slack.southampton.digital/">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>

<body>
  <!-- <h1>Redirecting to Slack.</h1> -->

  <main container>
    <!-- <header>
      <h1><a href='/'>Southampton.Digital</a></h1>
      <p>All the wonderous digital events in and around Southampton | <a href="https://slack.southampton.digital/">Join us on Slack</a></p>
    </header>

    <!-- <section>
      {{ content }}
    </section> -->

    <!-- <footer>
      <p>southampton.digital is an independent community of people in and around Southampton who are interested in digital; if you would like to have your event listed please <a href="https://github.com/southamptondigital/southamptondigital.github.io/issues/new">request it here</a></p>
      <p><a href='/about/'>About</a> | <a href='/admins/'>Team</a> | <a href='/code_of_conduct/'>Code of Conduct</a></p>
    </footer> -->
  </main> -->
</body>

</html>
