<!DOCTYPE html>
<html>

<head>
  <title>Southampton.Digital</title>
  <link rel='stylesheet' href='https://cdn.concisecss.com/concise.min.css'>
  <link rel="stylesheet" href="https://cdn.concisecss.com/concise-ui/concise-ui.min.css">
  <link rel='stylesheet' href='css/main.css'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>

<body>

  <main container>
    <header>
      <h1>Southampton.Digital</h1>
      <p>All the wonderous digital events in Southampton</p>
    </header>

     {{ content }}

    <footer>
      <p>Copyright etc</p>
    </footer>
  </main>
</body>

</html>